@import '~style/helpers';

.wrapper{
      display:grid;
      grid-template-columns: 1fr;
      grid-row-gap: 0.25em;
      font-family: "Tahoma", Geneva, sans-serif;
      color: #2d676e;
      background-color: #00867d;
}

.location{
    font-size: 20px;
}
.nested{
    display:inline-grid;
    grid-template-columns: 0.75fr 0.5fr 1fr 0.2fr 0.5fr 0.4fr 1fr 0.25fr;
    padding: 1em;
    border-radius:10px;
    background-color: #4db6ac;
}

.wrapper > div{
  background: rgba(217, 244, 244, .9);

}

.wrapper >div:first-child{
  height: 6em;
  background: #4db6ac;
  float: left;
  padding-bottom:1em;
  border-radius: 15px;
  color: #fff;
}

/*.wrapper >div:last-child{
  background: #673AB7;
  float: left;
  background: rgba(255,255,255,0);
  &:hover, &:active {
        background: rgba(255,255,255,0.1);
    }
}*/

.nested#first{

}

.nested i{
  padding-left:1em;
}
