@import '~style/helpers';

.container{
	position: relative;
	left: 0;
	top: 0;
	height: 70px;
	padding: 0;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

	buttonleft {
		float: left;
		display: inline-block;
		height: 70px;
		line-height: 70px;
		padding: 0 15px;
		min-width: 50px;
		font-size: 1.5em;
		text-align: center;
		background: #673AB7;
		color: #EEE;
		will-change: background-color;

		&:hover, &:active {
			background: #966fd6;
		}	
	}

	buttonright {
		float: right;
		display: inline-block;
		height: 70px;
		line-height: 70px;
		padding: 0 15px;
		min-width: 50px;
		font-size: 1.5em;
		text-align: center;
		background: #673AB7;
		color: #EEE;
		will-change: background-color;

		&:hover, &:active {
			background: #966fd6;
		}
	}

	input[type=text]{
		float: left;
	    padding: 8px;
	    min-width: 260px;
	    border: none;
	    margin-top: 19px;
	    margin-bottom: 12px;
	    border-radius: 15px;
	}
}