@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	width: 414px;
	height: 666px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: 0;
	top: 0;
	background: #673AB7;
	color: #EEE;

	homepage {
		overflow-y: scroll;
		overflow-x: hidden;

		current {
			display: inline-block;
			height: 300px;
			min-width: 414px;
			background: #673AB7;

			weather-location {
				display: inline-block;
				height: 60px;
				line-height: 60px;
				min-width: 414px;
				font-size: 1.5em;
				text-align: center;
				background: #966fd6;
			}

			weather-iandc {
				float: left;
				height: 240px;
				min-width: 207px;
				text-align: center;
				padding-top: 45px;

				weather-icon {
					font-size: 6em;
				}

				weather-conditions {
					line-height: 37px;
					font-size: 1.5em;
				}
			}

			weather-text {
				float: right;
				height: 240px;
				line-height: 50px;
				font-size: 1.5em;
				text-align: left;
				min-width: 207px;

				sub-icon {
					display: inline-block;
					min-width: 50px;
					text-align: center;
					fill: #EEE;
				}
			}
		}

		route {
			display: inline-block;
			min-width: 414px;
			font-size: 1.5em;
			overflow: visible;
		
			name {
				float: left;
				height: 60px;
				line-height: 60px;
				min-width: 349px;
				padding-left: 50px;
				background: #966fd6;
			}

			dropdown {
				position: relative;
				float: left;
				height: 60px;
				line-height: 60px;
				min-width: 50px;
				background: #966fd6;
			
				flipped {
					-webkit-transform:rotateY(180deg);
					-moz-transform:rotateY(180deg);
					-ms-transform:rotateY(180deg);
					-o-transform:rotateY(180deg);
					transform:rotateY(180deg);
				}

			}

			route-text {
				float: left;
				width: 207px;
				font-size: 0.6em;
				line-height: 45px;
			}

			route-graphics {
				text-align: center;

				route-icon {
					display: inline-block;
					height: 50px;
					width: 66px;
					/*border: 4px solid #EEE;*/
					/*border-radius: 33px;*/
					padding-top: 5px;
					font-size: 1.5em;
				}

				line{
					display: inline-block;
				    margin-bottom: 10px;
				    margin-left: 4px;
				    margin-right: 4px;
				    border-radius: 6px;
				    height: 0px;
				    width: 130px;
				    border-bottom:solid 4px #EEE;
				}
			}

			route-details {
				overflow: visible;
				font-size: 0.6em;
				text-align: center;
				height: 100px;

				detail-text {
					display: inline-block;
					width: 100px;
					line-height: 30px;
				}

				detail-icon {
					display: inline-block;
					padding-top: 30px;
					line-height: 30px;
					min-width: 110px;
				}
			}
		}
	}
}